 body {
     margin:0;
     padding:0;
     height:100%;
     }
#menusection{height:5%;
			width: 100%;
			background-color: green;}
#top{
       height:500px;
       width:100%;
       background-image:url(back.jpg);
       margin:1;
	   padding-top: 20px;
	   padding-right: 20px;
       text-align:center;}
#1 {    height:500px;
       width:100%;
       background-color:blue;
       margin:auto;
       text-align:center;}
#2 { height:800px;
       width:100%;
       background-color:black;
       margin:auto;
       text-align:center;}
#3{
       height:500px;
       width:100%;
       background-color:#990000;
       margin:auto;
       text-align:center;}

 table{float : right;
	height: 20px;
	width:320px;}

img {float:right;
	width:300px;
	height:300px}